BODY {
 background: #161616;
 color: #e0e0e0;
 cursor: default;
 font-family: sans-serif;
 margin: 0.5em }
DIV { position: absolute; bottom: 0; left: 0; width: 100% }
H1 { display: inline;
     font-size: 1em; font-weight: 400;
     margin: 0; padding: 0.25em 0.5em;
     background: #ccc; color: #000; }
H2 { font-size: 1em; font-weight: 400; line-height: 1.2em;
     margin: 0 -.25em 0 0; padding: 0.8em 0 1.8em 6em }
IMG { float: left; height: 4em; margin: 1em 0.5em 1em 1em; border-radius: 50% }
ADDRESS { display: none; font-style: normal }
A:link { color: #0f62fe }
A:active { color: #0043ce }
A:visited { color: #8a3ffc }
A:visited:active { color: #6929c4 }
/* Using `color` requires `background` for accessibility validation. */
A:link, A:active, A:visited, A:visited:active { background: #161616 }